<template>
  <div>
        <canvas id="canvas" style="background:linear-gradient(rgba(255,255,255, 1),rgba(56,182,230, 1) ,rgba(214,238,247, 1))"></canvas>
        <div class="container">
      <div class="login-form">
        <h1 class="h1">学生资助在线管系统注册</h1>
		<el-form ref="rgsForm" class="rgs-form" :model="rgsForm">
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">班主任工号</div>
			   <div class="input-container">
			     <input v-model="ruleForm.banzhurengonghao" class="input" type="text" placeholder="班主任工号">
			   </div>
			 </div> -->
			<el-form-item label="班主任工号" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.banzhurengonghao" autocomplete="off" placeholder="班主任工号"  />
			</el-form-item>
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">密码</div>
			   <div class="input-container">
			     <input v-model="ruleForm.mima" class="input" type="text" placeholder="密码">
			   </div>
			 </div> -->
			<el-form-item label="密码" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.mima" autocomplete="off" placeholder="密码" type="password"#elsetype="text" />
			</el-form-item>
			<el-form-item label="确认密码" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.mima2" autocomplete="off" placeholder="确认密码" type="password"/>
			</el-form-item>

			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">班主任姓名</div>
			   <div class="input-container">
			     <input v-model="ruleForm.banzhurenxingming" class="input" type="text" placeholder="班主任姓名">
			   </div>
			 </div> -->
			<el-form-item label="班主任姓名" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.banzhurenxingming" autocomplete="off" placeholder="班主任姓名"  />
			</el-form-item>
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">班级</div>
			   <div class="input-container">
			     <input v-model="ruleForm.banji" class="input" type="text" placeholder="班级">
			   </div>
			 </div> -->
			<el-form-item label="班级" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.banji" autocomplete="off" placeholder="班级"  />
			</el-form-item>
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">班主任电话</div>
			   <div class="input-container">
			     <input v-model="ruleForm.banzhurendianhua" class="input" type="text" placeholder="班主任电话">
			   </div>
			 </div> -->
			<el-form-item label="班主任电话" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.banzhurendianhua" autocomplete="off" placeholder="班主任电话"  />
			</el-form-item>
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">身份证</div>
			   <div class="input-container">
			     <input v-model="ruleForm.shenfenzheng" class="input" type="text" placeholder="身份证">
			   </div>
			 </div> -->
			<el-form-item label="身份证" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.shenfenzheng" autocomplete="off" placeholder="身份证"  />
			</el-form-item>
			<!-- <div v-if="tableName=='banzhuren'" class="input-group">
			   <div class="label">工作证</div>
			   <div class="input-container">
			     <input v-model="ruleForm.gongzuozheng" class="input" type="text" placeholder="工作证">
			   </div>
			 </div> -->
			<el-form-item label="工作证" class="input" v-if="tableName=='banzhuren'">
			  <el-input v-model="ruleForm.gongzuozheng" autocomplete="off" placeholder="工作证"  />
			</el-form-item>
			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">家长账号</div>
			   <div class="input-container">
			     <input v-model="ruleForm.jiazhangzhanghao" class="input" type="text" placeholder="家长账号">
			   </div>
			 </div> -->
			<el-form-item label="家长账号" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.jiazhangzhanghao" autocomplete="off" placeholder="家长账号"  />
			</el-form-item>
			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">密码</div>
			   <div class="input-container">
			     <input v-model="ruleForm.mima" class="input" type="text" placeholder="密码">
			   </div>
			 </div> -->
			<el-form-item label="密码" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.mima" autocomplete="off" placeholder="密码" type="password"#elsetype="text" />
			</el-form-item>
			<el-form-item label="确认密码" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.mima2" autocomplete="off" placeholder="确认密码" type="password"/>
			</el-form-item>

			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">家长姓名</div>
			   <div class="input-container">
			     <input v-model="ruleForm.jiazhangxingming" class="input" type="text" placeholder="家长姓名">
			   </div>
			 </div> -->
			<el-form-item label="家长姓名" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.jiazhangxingming" autocomplete="off" placeholder="家长姓名"  />
			</el-form-item>
			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">年龄</div>
			   <div class="input-container">
			     <input v-model="ruleForm.nianling" class="input" type="text" placeholder="年龄">
			   </div>
			 </div> -->
			<el-form-item label="年龄" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.nianling" autocomplete="off" placeholder="年龄"  />
			</el-form-item>
			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">家长手机</div>
			   <div class="input-container">
			     <input v-model="ruleForm.jiazhangshouji" class="input" type="text" placeholder="家长手机">
			   </div>
			 </div> -->
			<el-form-item label="家长手机" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.jiazhangshouji" autocomplete="off" placeholder="家长手机"  />
			</el-form-item>
			<!-- <div v-if="tableName=='jiazhang'" class="input-group">
			   <div class="label">身份证</div>
			   <div class="input-container">
			     <input v-model="ruleForm.shenfenzheng" class="input" type="text" placeholder="身份证">
			   </div>
			 </div> -->
			<el-form-item label="身份证" class="input" v-if="tableName=='jiazhang'">
			  <el-input v-model="ruleForm.shenfenzheng" autocomplete="off" placeholder="身份证"  />
			</el-form-item>
			<div style="display: flex;flex-wrap: wrap;width: 100%;justify-content: center;">
				<el-button class="btn" type="primary" @click="login()">注册</el-button>
				<el-button class="btn close" type="primary" @click="close()">取消</el-button>
			</div>
		</el-form>
      </div>
      <!-- <div class="nk-navigation">
        <a href="#">
          <div @click="login()">注册</div>
        </a>
      </div> -->
    </div>
  </div>
</template>
<script>

import canvasBg from "@/assets/js/canvas-bg-2.js";
import "@/assets/css/canvas-bg-2.css"

export default {
  data() {
    return {
      ruleForm: {
      },
      tableName:"",
      rules: {},
    };
  },
  mounted(){
    let table = this.$storage.get("loginTable");
    this.tableName = table;
        this.$nextTick(() => {
      canvasBg()
    })
      },
  created() {
    
  },
  methods: {
    // 获取uuid
    getUUID () {
      return new Date().getTime();
    },
    close(){
	this.$router.push({ path: "/login" });
    },
    // 注册
    login() {
	var url=this.tableName+"/register";
      if((!this.ruleForm.mima) && `banzhuren` == this.tableName){
        this.$message.error(`密码不能为空`);
        return
      }
      if((this.ruleForm.mima!=this.ruleForm.mima2) && `banzhuren` == this.tableName){
	    this.$message.error(`两次密码输入不一致`);
	    return
      }
      if(`banzhuren` == this.tableName && this.ruleForm.banzhurendianhua&&(!this.$validate.isMobile(this.ruleForm.banzhurendianhua))){
        this.$message.error(`班主任电话应输入手机格式`);
        return
      }
      if((!this.ruleForm.shenfenzheng) && `banzhuren` == this.tableName){
        this.$message.error(`身份证不能为空`);
        return
      }
      if(`banzhuren` == this.tableName && this.ruleForm.shenfenzheng&&(!this.$validate.checkIdCard(this.ruleForm.shenfenzheng))){
        this.$message.error(`身份证应输入身份证格式`);
        return
      }
      if((!this.ruleForm.gongzuozheng) && `banzhuren` == this.tableName){
        this.$message.error(`工作证不能为空`);
        return
      }
      if((!this.ruleForm.jiazhangzhanghao) && `jiazhang` == this.tableName){
        this.$message.error(`家长账号不能为空`);
        return
      }
      if((!this.ruleForm.mima) && `jiazhang` == this.tableName){
        this.$message.error(`密码不能为空`);
        return
      }
      if((this.ruleForm.mima!=this.ruleForm.mima2) && `jiazhang` == this.tableName){
	    this.$message.error(`两次密码输入不一致`);
	    return
      }
      if(`jiazhang` == this.tableName && this.ruleForm.nianling&&(!this.$validate.isIntNumer(this.ruleForm.nianling))){
        this.$message.error(`年龄应输入整数`);
        return
      }
      if((!this.ruleForm.jiazhangshouji) && `jiazhang` == this.tableName){
        this.$message.error(`家长手机不能为空`);
        return
      }
      if(`jiazhang` == this.tableName && this.ruleForm.jiazhangshouji&&(!this.$validate.isMobile(this.ruleForm.jiazhangshouji))){
        this.$message.error(`家长手机应输入手机格式`);
        return
      }
      if((!this.ruleForm.shenfenzheng) && `jiazhang` == this.tableName){
        this.$message.error(`身份证不能为空`);
        return
      }
      if(`jiazhang` == this.tableName && this.ruleForm.shenfenzheng&&(!this.$validate.checkIdCard(this.ruleForm.shenfenzheng))){
        this.$message.error(`身份证应输入身份证格式`);
        return
      }
      if((!this.ruleForm.banzhurengonghao) && `jiazhang` == this.tableName){
        this.$message.error(`班主任工号不能为空`);
        return
      }
      this.$http({
        url: url,
        method: "post",
        data:this.ruleForm
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.$message({
            message: "注册成功",
            type: "success",
            duration: 1500,
            onClose: () => {
              this.$router.replace({ path: "/login" });
            }
          });
        } else {
          this.$message.error(data.msg);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
	.el-radio__input.is-checked .el-radio__inner {
		border-color: #00c292;
		background: #00c292;
	}

	.el-radio__input.is-checked .el-radio__inner {
		border-color: #00c292;
		background: #00c292;
	}

	.el-radio__input.is-checked .el-radio__inner {
		border-color: #00c292;
		background: #00c292;
	}

	.el-radio__input.is-checked+.el-radio__label {
		color: #00c292;
	}

	.el-radio__input.is-checked+.el-radio__label {
		color: #00c292;
	}

	.el-radio__input.is-checked+.el-radio__label {
		color: #00c292;
	}

	.h1 {
		margin-top: 10px;
	}

	body {
		padding: 0;
		margin: 0;
	}

	// .container {
 //    min-height: 100vh;
 //    text-align: center;
 //    // background-color: #00c292;
 //    padding-top: 20vh;
 //    background-image: url(../assets/img/bg.jpg);
 //    background-size: 100% 100%;
 //    opacity: 0.9;
 //  }

	// .login-form:before {
	// 	vertical-align: middle;
	// 	display: inline-block;
	// }

	// .login-form {
	// 	max-width: 500px;
	// 	padding: 20px 0;
	// 	width: 80%;
	// 	position: relative;
	// 	margin: 0 auto;

	// 	.label {
	// 		min-width: 60px;
	// 	}

	// 	.input-group {
	// 		max-width: 500px;
	// 		padding: 20px 0;
	// 		width: 80%;
	// 		position: relative;
	// 		margin: 0 auto;
	// 		display: flex;
	// 		align-items: center;

	// 		.input-container {
	// 			display: inline-block;
	// 			width: 100%;
	// 			text-align: left;
	// 			margin-left: 10px;
	// 		}

	// 		.icon {
	// 			width: 30px;
	// 			height: 30px;
	// 		}

	// 		.input {
	// 			position: relative;
	// 			z-index: 2;
	// 			float: left;
	// 			width: 100%;
	// 			margin-bottom: 0;
	// 			box-shadow: none;
	// 			border-top: 0px solid #ccc;
	// 			border-left: 0px solid #ccc;
	// 			border-right: 0px solid #ccc;
	// 			border-bottom: 1px solid #ccc;
	// 			padding: 0px;
	// 			resize: none;
	// 			border-radius: 0px;
	// 			display: block;
	// 			width: 100%;
	// 			height: 34px;
	// 			padding: 6px 12px;
	// 			font-size: 14px;
	// 			line-height: 1.42857143;
	// 			color: #555;
	// 			background-color: #fff;
	// 		}

	// 	}
	// }

	.nk-navigation {
		margin-top: 15px;

		a {
			display: inline-block;
			color: #fff;
			background: rgba(255, 255, 255, .2);
			width: 100px;
			height: 50px;
			border-radius: 30px;
			text-align: center;
			display: flex;
			align-items: center;
			margin: 0 auto;
			justify-content: center;
			padding: 0 20px;
		}

		.icon {
			margin-left: 10px;
			width: 30px;
			height: 30px;
		}
	}

	.register-container {
		margin-top: 10px;

		a {
			display: inline-block;
			color: #fff;
			max-width: 500px;
			height: 50px;
			border-radius: 30px;
			text-align: center;
			display: flex;
			align-items: center;
			margin: 0 auto;
			justify-content: center;
			padding: 0 20px;

			div {
				margin-left: 10px;
			}
		}
	}

	.container {
		height: 100vh;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
    
		.login-form {
			right: 50%;
			top: 50%;
			transform: translate3d(50%, -50%, 0);
			border-radius: 10px;
			background-color: rgba(255,255,255,.5);
			font-size: 14px;
			font-weight: 500;
      box-sizing: border-box;

			width: 480px;
			height: auto;
			padding: 10px;
			margin: 0px 0px 0px 0px;
			border-radius: 10px;
			border-width: 0;
			border-style: solid;
			border-color: rgba(255,0,0,0);
			background-color: rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 0px rgba(255,0,0,.1);

			.h1 {
				width: 460px;
				height: 40px;
				line-height:40px;
				color: #000;
				font-size: 23px;
				padding: 0;
				margin: 0px 0px 0px 0px;
				border-radius: 0;
				border-width: 0;
				border-style: solid;
				border-color: rgba(255,0,0,0);
				background-color: rgba(144, 238, 144, 0);
				box-shadow: 0 0 6px rgba(255,0,0,0);
				text-align: center;
			}

			.rgs-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

        .el-form-item {
          width: 100%;
          display: flex;

          & /deep/ .el-form-item__content {
            flex: 1;
            display: flex;
          }
        }

				.input {
          width: 400px;
          height:auto;
          padding: 0;
          margin: 0 0 10px 0;
          border-radius: 0;
          border-width: 0;
          border-style: solid;
          border-color: rgba(255,0,0,0);
          background-color: rgba(255, 69, 0, 0);
          box-shadow: 0 0 6px rgba(255,0,0,0);

					& /deep/ .el-form-item__label {
            width: 110px;
            line-height:40px;
            color: rgba(0, 3, 9, 1);
            font-size: 14px;
            padding: 0px 0px 0px 0px;
            margin: 0px 12px 0px 0px;
            border-radius: 0;
            border-width: 0;
            border-style: solid;
            border-color: rgba(255,0,0,0);
            background-color: rgba(255,0,0,0);
            box-shadow: 0 0 6px rgba(255,0,0,0);
					}

					& /deep/ .el-input__inner {
            width: 220px;
            height: 40px;
            line-height:40px;
            color: rgba(0, 0, 0, 1);
            font-size: 14px;
            padding: 0 12px;
            margin: 0;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
            border-color: #606266;
            background-color: #fff;
            box-shadow: 0 0 6px rgba(255,0,0,0);
            text-align: left;
					}
				}

        .send-code {
          & /deep/ .el-input__inner {
            width: 140px;
            height: 40px;
            line-height:40px;
            color: rgba(0, 0, 0, 1);
            font-size: 14px;
            padding: 0 12px;
            margin: 0;
            border-radius: 4px 0px 0px 4px;
            border-width: 1;
            border-style: solid;
            border-color: #606266;
            background-color: #fff;
            box-shadow: 0 0 6px rgba(255,0,0,0);
            text-align: left;
          }

          .register-code {
            margin: 0;
            padding: 0;
            width: 80px;
            height: 40px;
            line-height:40px;
            color: #fff;
            font-size: 14px;
            border-width: 0;
            border-style: solid;
            border-color: rgba(255,0,0,0);
            border-radius: 0;
            background-color: rgb(64, 158, 255);
            box-shadow: 0 0 6px rgba(255,0,0,0);
          }
        }

				.btn {
					margin: 0 10px;
          padding: 0;
					width: 88px;
					height: 44px;
          line-height:44px;
					color: rgba(0, 0, 0, 1);
					font-size: 14px;
					border-width: 0;
					border-style: solid;
					border-color: rgba(64, 158, 255, 1);
					border-radius: 4px;
					background-color: rgba(64, 158, 255, 1);
          box-shadow: 0 0 0px rgba(255,0,0,0);
				}

				.close {
          margin: 0 10px;
          padding: 0;
          width: 88px;
          height: 44px;
          line-height:44px;
          color: rgba(0, 0, 0, 1);
          font-size: 14px;
          border-width: 0;
          border-style: solid;
          border-color: rgba(64, 158, 255, 1);
          border-radius: 4px;
          background-color: rgba(64, 158, 255, 1);
          box-shadow: 0 0 0px rgba(255,0,0,0);
				}

			}
		}
	}
</style>
